use flake

export PGPORT=5432
export DATABASE_URL="postgresql:///mydb?host=$PWD/.postgres&port=$PGPORT"
export PGDATA=$PWD/.postgres
export PGHOST=$PWD/.postgres

if [ ! -d "$PGDATA" ]; then
  initdb --auth=trust --no-locale --encoding=UTF8
  pg_ctl start -l "$PGDATA/logfile" -o "-c unix_socket_directories=$PGHOST -c listen_addresses="
  createdb mydb
else
  pg_ctl start -l "$PGDATA/logfile" -o "-c unix_socket_directories=$PGHOST -c listen_addresses=" 2>/dev/null || true
fi
