# Config
config/local.*
config/*.local.*

# Custom
logs/

# Database
*.db
*.db-wal
*.db-shm

.postgres/

# Environment
!.env
.direnv/

# Rust
target/
flamegraph.svg
perf.data
perf.data.old

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
